---

---

<section class="bg-[#FFF4D6] relative h-auto px-20 pt-20 pb-96">
  <div class="container mx-auto pb-64">
    <p class="uppercase font-medium text-center text-[#FAAB00]">dress code</p>

    <div class="relative z-50 text-center w-full space-y-4">
      <h2
        class="text-[#050505] tracking-tighter font-bold text-[3.5rem] max-w-5xl w-full mx-auto capitalize"
      >
        DevFest Enugu 2024 just dropped <br /> a whole new Fashion vibe!
      </h2>
      <p class="text-[#474747] font-medium max-w-xl mx-auto">
        Join us for thrilling sessions, workshops, and networking opportunities
        around the exciting world of technology.
      </p>
    </div>

    <div class="flex-grow flex items-end justify-center">
      <div class="absolute bottom-0 z-20">
        <img
          width="1200"
          height="900"
          src="/images/2024/dress-code.webp"
          alt=""
        />
      </div>
      <div
        class="absolute bottom-0 z-auto bg-[#FFD427] w-[900px] h-[450px] rounded-t-full mx-auto left-1/2 -translate-x-1/2"
      >
      </div>
    </div>
  </div>
</section>
