<section
  class="relative bg-black text-white min-h-[50vh] py-44 flex items-center justify-center"
>
  <div class="absolute inset-0">
    <img
      src="/images/2024/IMG_2065.webp"
      alt="Community Background"
      class="w-full h-full object-cover"
      loading="lazy"
    />
    <div class="absolute inset-0 bg-black bg-opacity-[85%]"></div>
  </div>

  <div class="relative z-10 text-center px-4">
    <p class="uppercase text-[#FAAB00] font-medium tracking-widest mb-4">
      Join Us
    </p>
    <h4 class="text-4xl md:text-5xl font-bold mb-6">
      Join Our Community Today
    </h4>
    <p class="text-lg md:text-xl font-medium max-w-3xl mx-auto mb-8">
      Join our community and connect with the brightest big names in tech. This
      is where ideas spark, innovation thrives, and friendships turn into
      collaborations.
    </p>
    <a
      href="https://chat.whatsapp.com/KFrcuSzqlmdLeYPITA2sLO"
      class="inline-block border uppercase border-white text-white py-3 px-8 rounded-[50px] hover:bg-white hover:text-[#050505] transition-colors hover:duration-300"
    >
      Join Now
    </a>
  </div>
</section>
