---
import Icon from "../Icon.astro";
---

<div class="w-fit text-white h-full">
  <div
    class="h-28 bg-[#050505] rounded-t-[25px] p-4 space-y-1 flex flex-col justify-center"
  >
    <div class="font-bold text-xl">Denzel Washi</div>
    <p class="uppercase">frontend engineer @ mast</p>
  </div>
  <img
    width="400"
    height="300"
    src="/images/2024/default_speaker_img.png"
    alt=""
  />
  <div
    class="h-20 bg-[#050505] rounded-b-[25px] flex items-center p-4 py-6 space-x-3"
  >
    <a href="">
      <Icon icon="linkedin" />
    </a>
    <a href="">
      <Icon icon="x-twitter-outline" height="24" />
    </a>
  </div>
</div>
