---
import NavBar from "../components/NavBar.astro";
import HeroSection from "../components/HeroSection.astro";
import FooterSection from "../components/FooterSection.astro";
import DressCode from "../components/2024/DressCode.astro";
import ThrowbackSection from "../components/2024/ThrowbackSection.astro";
import SpeakersSection from "../components/2024/SpeakersSection.astro";
import PartnerSponsors from "../components/2024/PartnerSponsors.astro";
import JoinCommunity from "../components/2024/JoinCommunity.astro";
import WorkExhibition from "../components/2024/WorkExhibition.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="/src/styles/global.css"
      type="text/css"
      charset="utf-8"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Enugu Devfest 2024</title>
  </head>
  <body>
    <div class="bg-[#E4FAFF]">
      <NavBar />
      <HeroSection />
    </div>

    <DressCode />

    <ThrowbackSection />

    <SpeakersSection />

    <PartnerSponsors />

    <WorkExhibition />

    <JoinCommunity />

    <FooterSection />
  </body>
</html>

<style>
  :global(html) {
    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }
</style>
