---

---

<footer class="bg-black p-10">
  <div class="container mx-auto p-10">
    <div class="flex flex-wrap flex-1 w-full mb-14 justify-evenly text-white">
      <ul
        class="flex flex-col justify-items-start items-start gap-y-8 text-left"
      >
        <li><a href="">Schedule</a></li>
        <li><a href="">Speakers</a></li>
      </ul>
      <ul class="flex flex-col gap-y-8 text-left">
        <li><a href="">DP Generator</a></li>
        <li><a href="">Venue Information</a></li>
        <li><a href="">Join Our Community</a></li>
      </ul>
      <ul class="flex flex-col gap-y-8 text-left">
        <li><a href="">DP Generator</a></li>
        <li><a href="">Venue Information</a></li>
        <li><a href="">Join Our Community</a></li>
      </ul>
    </div>
    <div class="flex items-center justify-center">
      <img width="1000" height="100" src="/large-footer-text.png" alt="" />
    </div>
  </div>
</footer>
