<nav class="flex justify-between py-10 container mx-auto">
  <a href="/">
    <img
      src="/logo.png"
      loading="lazy"
      width="186"
      height="53"
      alt="Enugu Devfest 2024 Logo"
    />
  </a>

  <div class="flex justify-between gap-10">
    <ul class="flex items-center justify-evenly gap-10">
      <li><a href="/#speakers">Speakers</a></li>
      <li><a href="/schedule">Schedule</a></li>
    </ul>
    <a
      href="https://gdg.community.dev/events/details/google-gdg-enugu-presents-devfest-enugu-2024/"
      class="border-2 border-[#050505] rounded-[50px] p-4 w-44 h-auto inline-flex justify-center items-center text-center hover:bg-[#050505] hover:text-white transition-colors hover:duration-300 ease-in-out"
      >RSVP</a
    >
  </div>
</nav>
