<nav class="flex justify-between py-10 container mx-auto">
  <div class="">
    <img
      src="/logo.png"
      loading="lazy"
      width="186"
      height="53"
      alt="Enugu Devfest 2024 Logo"
    />
  </div>

  <div class="flex justify-between gap-10">
    <ul class="flex items-center justify-evenly gap-10">
      <li><a href="#speakers">Speakers</a></li>
      <li><a href="#speakers">Schedule</a></li>
    </ul>
    <a
      href="#"
      class="border-2 border-[#050505] rounded-[50px] p-4 w-44 h-auto inline-flex justify-center items-center text-center hover:bg-[#050505] hover:text-white transition ease-in-out"
      >RSVP</a
    >
  </div>
</nav>
